@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.woff2") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("truetype");
  font-style: normal;
  font-weight: 400;
}
